<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasi PoP</title>
    <link type="text/css" rel="stylesheet" href="{% static 'fantasicore/css/estilos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    <!--Banner responsivo-->
    <style>
        body {

            background-repeat: no-repeat;
            background-color: rgba(209, 209, 171, 0.473);
        }
    </style>
    <script type="text/javascript">

        function carga() {
            contador_s = 0;
            contador_m = 0;
            s = document.getElementById("segundos");
            m = document.getElementById("minutos");

            window.setInterval(
                function () {
                    if (contador_s == 60)
                    {
                        contador_s = 0;
                        contador_m++;
                        m.innerHTML = contador_m;
                        if (contador_m == 0) {
                            contador_m = 0;
                        }
                    }
                    s.innerHTML = contador_s;
                    contador_s++;
                }
                , 1000);

        }



    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl bg-danger navbar-dark navcolor fixed-top">
            <a class="navbar-brand" href="{% url 'home' %}">Fantasi Pop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="" style="float: right;">
                        <a class="nav-link colorletranav cambiocolor" href="{% url 'logout' %}">Cerrar Sesion</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link colorletranav cambiocolor" href="{% url 'escanear'%}">Escanear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link colorletranav cambiocolor" href="{% url 'inicio'%}">Administrar Atraccion</a>
                    </li>
                    {% endif %}
                    {% else %}

                    <li class="nav-item">
                        <a class="nav-link colorletranav cambiocolor" href="{% url 'inicio'%}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link colorletranav cambiocolor" href="{% url 'registro'%}">Registro</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>

        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item ">
                <img src="{% static 'fantasicore/image/terra.jpg' %}" alt="1" class="img_tamano_banner">
            </div>
            <div class="carousel-item active">
                <img src="{% static 'fantasicore/image/JohnnyRocket.jpg' %}" alt="3" class="img_tamano_banner">
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    {% if messages %}

    <div class="alert alert-success">
        {% for x in messages %}
        <strong>{{ x }}</strong>
        {% endfor%}
    </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row mt">

            <div class="col-3 borde">


                {% for x in usuarios%}


                {% if x.user.username == user.username %}
                {% for c in cola1 %}



                {% if c.usuario.num_run == x.num_run %}
                <div>
                    <a></a>
                    <a>Estado: Encolado </a>
                    <a>Juego: {{c.atraccion.nombre_atr}}</a>
                    <a>Tiempo espera: <span id="minutos"></span>: <span id="segundos"></span> </a>
                    <a>Personas en cola: {{c.atraccion.capacidadd_atr}}</a>



                    <a href="{% url 'eliminar_cola' c.id_cola %}"><button class="btn btn-danger">Desencolar</button></a>



                </div>




                {% endif %}

                {% endfor %}

                {%endif%}
                {% endfor %}









            </div>
            <div class="col-6">
                <div>
                    <img class="mapa" src="{% static 'fantasicore/image/Mapa_atracciones_02.JPG' %}">

                </div>


            </div>
            <div class="col-3 borde">
                <div>
                    {% if user.is_authenticated %}
                    {% for p in juegos %}

                    <a href="{% url 'juego' p.id_atr%}"> {{p.nombre_atr}} </a>

                    {% endfor %}
                    {% else %}
                    {% for p in juegos %}
                    <h2>{{p.nombre_atr}}</h2>
                    {% endfor %}

                    {% endif %}





                </div>

            </div>

        </div>
    </div>
</body>

</html>