<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'fantasicore/css/cuentascs.css' %}">
    <link rel="stylesheet" href="{% static 'fantasicore/css/Repitcs.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
    <link rel="icon" type="image/jpg" href="{% static 'ventas/img/icono.PNG' %}">
    <title>FantasiPop-Inicio sesion</title>
    <script>
        $(document).ready(function () {
            $("#formulario_inicio").validate({
                rules: {
                    correo: {
                        required: true,
                        minlength: 1,
                        email: true
                    },
                    Contraseña: {
                        required: true,
                        minlength: 1
                    }
                }
            });
        });
    </script>
    <style>
        body {

            background-repeat: no-repeat;
            background-color: rgba(209, 209, 171, 0.473);
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl bg-danger navbar-dark navcolor fixed-top">
            <a class="navbar-brand" href="{% url 'home' %}">Fantasi Pop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link colorletranav cambiocolor" href="{% url 'inicio'%}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link colorletranav cambiocolor" href="{% url 'registro'%}">Registro</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <article>
        <section>
            <div class="ll">
                <div class="container color">
                    <div class="row">
                        <div class="card-body col-md pp">
                            <form action="{% url 'home' %}" method="GET" name="formulario_inicio" id="formulario_inicio"
                                class="bord">
                                {% csrf_token %}
                                <div id="in" class="text-center">Inicio sesion</div>
                                <br>
                                <label for="Rut">Rut</label>
                                <div class="input-group">
                                    <input type="number" class="form-control col-md-12" name="Rut" id="Rut"
                                        placeholder="Sin puntos ni guion">
                                    <input type="text" class="form-control col-md-1" name="dv" id="dv" placeholder="DV">
                                </div>
                                <div class="form-group">
                                    <label for="Contraseña">Numero de Ticket</label>
                                    <input type="number" class="form-control" id="Contraseña" name="ticket"
                                        placeholder="Numero de Ticket">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary bbbt">INICIAR</button>
                                </div>
                                <br>
                                <div class="text-center">
                                    <span> No tienes cuenta? Registrate <a href="{% url 'registro' %}">aqui</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
    <footer class="site-info">
        <div class="inside-site-info">
            <span>Fantasi-Pop - Todos los derechos Reservados [2021]</span>
        </div>
    </footer>
</body>

</html>