<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'fantasicore/css/estilos.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
    <title>Patagón-Inicio sesion</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl colornav navbar-dark fixed-top bordernav letras">
            
            
        </nav>
    </header>
    <article>
        <section>
            <div class="ll">
                <div class="container color">
                    <div class="row">
                        <div class="card-body col-md pp">

                            <form  method="POST" name="formulario_inicio"
                                id="formulario_inicio" class="bord">
                                {% csrf_token %}
                                <div id="in" class="text-center">Inicio sesion</div>
                                <div class="form-group a">
                                    <label for="correo">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                        placeholder="Ingrese Username">
                                </div>
                                <div class="form-group">
                                    <label for="Contraseña">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Contraseña">
                                    <small id="emailHelp" class="form-text text-muted">Recuerda no compartir tu
                                        contraseña</small>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Recordar cuenta</label>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary bbbt">INICIAR</button>
                                </div>
                                <div class="text-center" style="margin-top: 20px;">
                                    <a class="fab fa-google size_social text-info" aria-hidden="true"></a>
                                </div>
                                <br>
                                <div class="text-center">
                                    <span> No tienes cuenta? Registrate <a>aqui</a></span>
                                </div>
                                <div class="text-center">
                                    <span> Olvidaste tu contraseña ? Haz Click <a>aqui</a></span>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </section>
    </article>
    <footer class="site-info">
        <div class="mapa">
            <div id="map"></div>
        </div>
        <div class="inside-site-info">
            <span>Patagon - Todos los derechos Reservados [2021]</span>
        </div>
    </footer>
</body>

</html>