!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasi PoP</title>
    <link type="text/css" rel="stylesheet" href="{% static 'fantasicore/css/estilos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    <!--Banner responsivo-->
    <style>
        body {

            background-repeat: no-repeat;
            background-color: rgba(209, 209, 171, 0.473);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-xl bg-danger navbar-dark navcolor fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">Fantasi Pop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="" style="float: right;">
                    <a class="nav-link colorletranav cambiocolor" href="{% url 'logout' %}">Cerrar Sesion</a>
                </li>
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link colorletranav cambiocolor" href="{% url 'inicio'%}">Administrar Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorletranav cambiocolor" href="{% url 'inicio'%}">Administrar Atraccion</a>
                </li>
                {% endif %}
                {% else %}

                <li class="nav-item">
                    <a class="nav-link colorletranav cambiocolor" href="{% url 'inicio'%}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link colorletranav cambiocolor" href="{% url 'registro'%}">Registro</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </nav>




    <div class="container-fluid">
        <div class="row mt">
            <div class="col-3 borde">
                <div>
                    <a>nombre del juego = {{juegoselec.nombre_atr}}</a>
                    <a>Descripcion del juego = {{juegoselec.descrip_atr}} </a>
                    <a>Duracion media = {{juegoselec.tiempo_medio}}</a>
                    <a>Estatura minima = {{juegoselec.estatura_min}}</a>
                    <form action="{% url 'encolar' %}" method="POST" name="formulario_inicio" id="formulario_inicio"
                        class="bord">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" value="1" class="form-control" id="cantidad" name="cantidad" readonly>
                        </div>
                        <div class="form-group">
                            <input type="hidden" value="100" class="form-control" id="tiempo" name="tiempo" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{ juegoselec.id_atr }}" class="form-control" id="id_atrac" name="id_atrac" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{user.username}}" class="form-control" id="id_user" name="id_user" readonly>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary bbbt">ENCOLAR</button>
                        </div>
                    </form>




                </div>

            </div>
        </div>
    </div>


</body>

</html>